{% extends '_base.html' %}

{% block pagetitle %} todos list {% endblock %}

{% block content %}

<div class='list-container'>
{% if todo_list_len == 0 %}
<div>
  <h3>nothing here ...</h3>
  <a class='link' href="{% url 'todoapp:todo_item_create' %}">you can add a job to do from here</a>
</div>
{% else %}
<div class="todo-list-container">
  <form method="POST" action="{% url 'todoapp:todo_list' %}" id='todo-list-form'>
    <div class="todo-list">
      <ul class="list-group">
        {% for todoitem in todolist %}
        <li class="list-group-item todo-item">
          <div class="todo-item-content">
                  {% if todoitem.checked %}
                  <input class="check-input form-check-input job-done-input"  type="checkbox" name='checked' checked value="{{todoitem.id}}" aria-label="...">
                  <div class="job-done-text job-text">
                    <h6>{{todoitem.work}}</h6>
                    <p>{{todoitem.date}}</p>
                  </div>
                  {% else %}
                  <input class="check-input form-check-input " type="checkbox"  name='checked' value="{{todoitem.id}}" aria-label="...">
                  <div class="job-undone-text job-text">
                    <h6>{{todoitem.work}}</h6>
                    <p>{{todoitem.date}}</p>
                  </div>
                  {% endif %}
                </div>
                <div class="todo-item-action">
                  <a class='btn btn-danger' href="{% url 'todoapp:todo_item_delete' todoitem.id %}"><i class="bi bi-trash-fill"></i></a>
                  <a class='btn btn-secondary' href="{% url 'todoapp:todo_item_delete' todoitem.id %}"><i class="bi bi-pencil"></i></a>
                </div>
            </li>
            {% endfor %}
            <a class='btn btn-light' href="/create"><i class="bi bi-plus"></i> add new work</a>
      </ul>
    </div>
        {% csrf_token %}
        <button class='btn btn-primary' id='print-paper'><i class="bi bi-printer"></i></button>
  </form>
</div>
{% endif %}

</div>

<script>
  let check_input = document.getElementsByName('checked');
  let form = document.getElementById('todo-list-form')
  let print_btn = document.getElementById('print-paper')
  console.log(check_input);
  check_input.forEach(element => {
    element.addEventListener('click', function(){
      form.submit()
    })
  });
  print_btn.addEventListener('click',function(){
    print()
  })

</script>

{% endblock %}